@import url(http://fonts.googleapis.com/css?family=Roboto);

body
{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    margin:0px
}

a:link {color:#434343; text-decoration : none;}
a:visited {color:#434343;}
a:active {color:#434343;}


ul,
ol {
    padding: 0;
    margin: 0 0 0px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0; 
}
li { margin: 0px;
}


/* -> MENU */

#menu-principal
{
    text-align: center;
    color: #E9EAEB;
    height: 40px;
    background-color: #353535;
}

#conteneurMenu
{
    height : 25px;
    margin:auto;
    margin-right:150px;
    padding:8px;
    float:left;
}

#conteneurMenu ul /*Gestion des listes de ce conteneur donc niveau 1 */
{
    list-style-type : none;
}

.menulist
{
    width : 100px;
    float : left;
    padding: 3px;
}

.menulist a:link {color:white; text-decoration: none;}
.menulist a:visited {color:white; text-decoration : underline;}
.menulist a:active {color:white; text-decoration : underline;}


.menulist ul /*Menu dÃ©roulant */
{
    list-style-type :none;
    visibility : hidden;
    background-color:#757584;
    position: absolute;
    width:100px;
    padding:0px;
}

.menulist:hover
{
    background-color: #268C9E;
    color : #CDEEF3;
}

.menulist:hover a:link {color:#CDEEF3; text-decoration: none;}
.menulist:hover a:visited {color:#CDEEF3; text-decoration : underline;}
.menulist:hover a:active {color:#CDEEF3; text-decoration : underline;}

.menulist:hover ul
{
    visibility: visible; 
}

.menulist:hover ul a:link {color:white; text-decoration: none;}
.menulist:hover ul a:visited {color:white; text-decoration : underline;}
.menulist:hover ul a:active {color:white; text-decoration : underline;}

.menulist ul li:hover
{
    text-decoration: underline; 
    background-color: rgba(255,255,255,.15);

}

.menulist ul li:hover a:link {color:white; text-decoration: none;}
.menulist ul li:hover a:visited {color:white; text-decoration : none; }
.menulist ul li:hover a:active {color:white; text-decoration : none; }


/* - FIN MENU */

/********* FIN HEADER *************************************************/

/*********** CONTENU ***************/

#divDeContenu
{
    width: 1032px; 
    margin: auto;
    margin-top: 0px;  
    padding: 36px; 	


}

h1 {
    color: #333333;
    text-rendering: optimizelegibility;


}


h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0 10px 0;
    font-family: inherit;
    font-weight: bold;
    color: #B05C97;
    text-rendering: optimizelegibility;
}


#divDeContenu a:link {color:blue;}
#divDeContenu a:visited {color:blue;}
#divDeContenu a:hover {color:orange;}
#divDeContenu a:active {color:white;}
